In [11]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, OneHotEncoder, LabelEncoder
import pandas as pd
import numpy as np

In [12]:
# Load the dataset into a DataFrame
data = pd.read_csv('Resources/heart_attack_predictions.csv')
data.head()

,Country,Age,Gender,Cholesterol_Level,Blood_Pressure,Smoking_History,Alcohol_Consumption,Physical_Activity,Obesity,Diabetes,...,LDL_Cholesterol,Triglycerides,Heart_Disease_Risk,Medication_Adherence,Urbanization_Level,Air_Pollution_Exposure,Access_To_Healthcare,Education_Level,Income_Level,Heart_Attack_Outcome
0,Germany,39,Male,210.091036,173.301650,Never,0.531933,Active,No,No,...,68.333573,165.060897,Medium,No,Urban,51.988416,Good,Tertiary,Low,Died
1,Egypt,88,Male,163.998730,137.381678,Former,5.626668,Sedentary,Yes,Yes,...,98.194015,452.124651,Medium,No,Suburban,97.739896,Good,NaN,Low,Died
2,Spain,60,Female,263.502590,139.737677,Former,0.928015,Active,No,Yes,...,118.767677,171.432620,Low,No,Urban,60.352793,Poor,Tertiary,Low,Survived
3,Canada,25,Female,292.003927,85.992807,Former,7.374519,Active,No,Yes,...,190.190597,329.553258,Medium,No,Urban,14.397347,Good,Secondary,High,Survived
4,France,54,Female,267.736563,119.882856,Former,4.317845,Sedentary,Yes,No,...,188.209372,449.953074,High,Yes,Rural,69.448684,Good,NaN,Low,Died

In [13]:
data.columns

Index(['Country', 'Age', 'Gender', 'Cholesterol_Level', 'Blood_Pressure',
       'Smoking_History', 'Alcohol_Consumption', 'Physical_Activity',
       'Obesity', 'Diabetes', 'Family_History', 'Stress_Levels',
       'Dietary_Habits', 'Heart_Attack_History', 'Chest_Pain',
       'Exercise_Induced_Angina', 'Resting_ECG', 'Max_Heart_Rate_Achieved',
       'Thalassemia', 'HDL_Cholesterol', 'LDL_Cholesterol', 'Triglycerides',
       'Heart_Disease_Risk', 'Medication_Adherence', 'Urbanization_Level',
       'Air_Pollution_Exposure', 'Access_To_Healthcare', 'Education_Level',
       'Income_Level', 'Heart_Attack_Outcome'],
      dtype='object')

In [14]:
data.dtypes

Country                     object
Age                          int64
Gender                      object
Cholesterol_Level          float64
Blood_Pressure             float64
Smoking_History             object
Alcohol_Consumption        float64
Physical_Activity           object
Obesity                     object
Diabetes                    object
Family_History              object
Stress_Levels              float64
Dietary_Habits              object
Heart_Attack_History        object
Chest_Pain                  object
Exercise_Induced_Angina     object
Resting_ECG                 object
Max_Heart_Rate_Achieved      int64
Thalassemia                 object
HDL_Cholesterol            float64
LDL_Cholesterol            float64
Triglycerides              float64
Heart_Disease_Risk          object
Medication_Adherence        object
Urbanization_Level          object
Air_Pollution_Exposure     float64
Access_To_Healthcare        object
Education_Level             object
Income_Level                object
Heart_Attack_Outcome        object
dtype: object

In [15]:
# Identify all object columns
object_columns = data.select_dtypes(include=['object']).columns.tolist()
print(f"Object columns: {object_columns}")

Object columns: ['Country', 'Gender', 'Smoking_History', 'Physical_Activity', 'Obesity', 'Diabetes', 'Family_History', 'Dietary_Habits', 'Heart_Attack_History', 'Chest_Pain', 'Exercise_Induced_Angina', 'Resting_ECG', 'Thalassemia', 'Heart_Disease_Risk', 'Medication_Adherence', 'Urbanization_Level', 'Access_To_Healthcare', 'Education_Level', 'Income_Level', 'Heart_Attack_Outcome']

In [16]:
Nominal_data = ['Country', 'Thalassemia']
Binary_Data = ['Gender', 'Obesity', 'Diabetes', 'Family_History', 'Heart_Attack_History', 'Chest_Pain','Exercise_Induced_Angina', 'Resting_ECG', 'Medication_Adherence']
# Resting_ECG abnormal and normal rather than yes and no
Ordinal_Data = ['Smoking_History', 'Physical_Activity', 'Dietary_Habits', 'Heart_Disease_Risk', 'Urbanization_Level','Access_To_Healthcare', 'Education_Level', 'Income_Level' ]

In [17]:
#Create Ordinal Encoders:
smoking_encoder = OrdinalEncoder(categories=[['Current', 'Former', 'Never']])
activity_encoder = OrdinalEncoder(categories=[['Sedentary', 'Moderate', 'Active']])
dietary_encoder = OrdinalEncoder(categories=[['Unhealthy', 'Moderate', 'Healthy']])
heart_disease_risk_encoder = OrdinalEncoder(categories=[['Low', 'Medium', 'High']])
urbanization_encoder = OrdinalEncoder(categories=[['Urban', 'Suburban', 'Rural']])
access_to_healthcare_encoder = OrdinalEncoder(categories=[['Poor', 'Average', 'Good']])
#education_encoder = OrdinalEncoder(categories=[['Primary', 'Secondary', 'Tertiary']])
income_encoder = OrdinalEncoder(categories=[['Low', 'Medium', 'High']])

In [18]:
# Apply Ordinal Encoding to Ordinal Data
data['Smoking_History'] = smoking_encoder.fit_transform(data[['Smoking_History']])
data['Physical_Activity'] = activity_encoder.fit_transform(data[['Physical_Activity']])
data['Dietary_Habits'] = dietary_encoder.fit_transform(data[['Dietary_Habits']])
data['Heart_Disease_Risk'] = heart_disease_risk_encoder.fit_transform(data[['Heart_Disease_Risk']])
data['Urbanization_Level'] = urbanization_encoder.fit_transform(data[['Urbanization_Level']])
data['Access_To_Healthcare'] = access_to_healthcare_encoder.fit_transform(data[['Access_To_Healthcare']])
#data['Education_Level'] = education_encoder.fit_transform(data[['Education_Level']])
data['Income_Level'] = income_encoder.fit_transform(data[['Income_Level']])

In [19]:
#One-hot encode the Nominal_data:
data = pd.get_dummies(data, columns=['Country', 'Thalassemia'], drop_first=True)

In [20]:
# Label encode Binary_Data:
label_encoder = LabelEncoder()
binary_columns = ['Gender', 'Obesity', 'Diabetes', 'Family_History', 'Heart_Attack_History', 'Chest_Pain', 
                  'Exercise_Induced_Angina', 'Resting_ECG', 'Medication_Adherence']

for col in binary_columns:
    data[col] = label_encoder.fit_transform(data[col])

In [21]:
# Scale numerical columns
# List of numerical columns 
numerical_columns = data.select_dtypes(include=[np.number]).columns.tolist()

# Apply scaling
scaler = StandardScaler()
data[numerical_columns] = scaler.fit_transform(data[numerical_columns])

In [22]:
print(f"Numerical columns: {numerical_columns}")

Numerical columns: ['Age', 'Gender', 'Cholesterol_Level', 'Blood_Pressure', 'Smoking_History', 'Alcohol_Consumption', 'Physical_Activity', 'Obesity', 'Diabetes', 'Family_History', 'Stress_Levels', 'Dietary_Habits', 'Heart_Attack_History', 'Chest_Pain', 'Exercise_Induced_Angina', 'Resting_ECG', 'Max_Heart_Rate_Achieved', 'HDL_Cholesterol', 'LDL_Cholesterol', 'Triglycerides', 'Heart_Disease_Risk', 'Medication_Adherence', 'Urbanization_Level', 'Air_Pollution_Exposure', 'Access_To_Healthcare', 'Income_Level']

In [23]:
#Split the data into train & test sets:
y = data['Heart_Attack_Outcome']  

X = data.drop(columns='Heart_Attack_Outcome')

# Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [24]:
X.head()

,Age,Gender,Cholesterol_Level,Blood_Pressure,Smoking_History,Alcohol_Consumption,Physical_Activity,Obesity,Diabetes,Family_History,...,Country_Saudi Arabia,Country_South Africa,Country_South Korea,Country_Spain,Country_Turkey,Country_United Kingdom,Country_United States,Country_Vietnam,Thalassemia_Normal,Thalassemia_Reversible Defect
0,-0.697687,1.000194,-0.342761,1.499293,1.225304,-1.547047,1.224179,-0.999414,-1.000364,1.000959,...,False,False,False,False,False,False,False,False,False,True
1,1.659034,1.000194,-1.407923,0.255335,-0.000287,0.216790,-1.224761,1.000586,0.999636,-0.999042,...,False,False,False,False,False,False,False,False,False,True
2,0.312336,-0.999806,0.891544,0.336927,-0.000287,-1.409920,1.224179,-0.999414,0.999636,-0.999042,...,False,False,False,True,False,False,False,False,True,False
3,-1.371036,-0.999806,1.550190,-1.524331,-0.000287,0.821910,1.224179,-0.999414,0.999636,1.000959,...,False,False,False,False,False,False,False,False,True,False
4,0.023758,-0.999806,0.989388,-0.350673,-0.000287,-0.236334,-1.224761,1.000586,-1.000364,-0.999042,...,False,False,False,False,False,False,False,False,False,True

In [25]:
heart_data = pd.read_csv('Resources/heart.csv')
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [26]:
heart_data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [27]:
heart_data.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object